@charset "utf-8";

.container {
  position: relative;
  width: 1280px;
  margin: auto;
  max-width: 1000px;
}

.making-title {
  border-bottom: 1px solid #f45f63;
  padding: 20px;
  text-align: center;
}

.making-title-sub {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 1.2em;
}

.text1 p {
  text-align: center;
  padding: 20px;
}

.tool {
  width: 100%;
}


.tool1-content,
.tool2-content,
.tool3-content,
.tool4-content {
  display: flex;
  margin: 60px 40px 40px 40px;
}

.tool1-content img,
.tool2-content img,
.tool3-content img,
.tool4-content img {
  width: calc(100%-50px)/2);
}

.tool1-subbox,
.tool3-subbox {
  padding-left: 50px;
  width: calc(100%-50px)/2);
}

.tool2-subbox,
.tool4-subbox {
  padding-right: 50px;
}

.tool1-subbox1 p {
  letter-spacing: 0.2em;
}

.tool-title {
  border-bottom: 2px solid #4169e1;
  font-size: 1.3em;
  margin-top: 40px;
  padding-bottom: 25px;
  text-align: center;
}


.model-content {
  display: flex;
  text-align: center;
  width: 100%;
}

.model-box {
  padding: 20px;
  width: 100%;
}

.model-content img {
  height: auto;
  width: calc(100% /2);
}

.color-content {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.color-box {
  padding: 20px;
  width: 100%;
}

.text {
  padding-left: 30px;
}
