@charset "utf-8";

.hero {
  background: #ffa4a8;
  height: auto;
}

.content1 {
  text-align: center;
  height: 500px;
}

.msgbox1 {
  height: 400px;
}

.textAbout {
  border: none;
}

.provisionaltitle {
  padding-top: 120px;
}

@media screen and (max-width:479px) {

  .provisionaltitle {
    padding-top: 20px;
  }
}
