@charset "utf-8";

.hero {
  background: #ffa4a8;
  height: auto;
}

.title {
  border-bottom: solid 1px #58a404;
}

.note {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.note span {
  border-bottom: 2px solid red;
}

.about img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


.about2 {
  /*  display: flex;*/
  text-align: center;
}

.about2 img {
  margin-bottom: 40px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:479px) {
  .about {
    display: block;
  }

  .note {
    font-size: 20px;
  }
}
