@charset "utf-8";


body {
  background: #f79646;
  font-family: メイリオ, Meiryo, "MS ゴシック", Osaka;
}

.container {
  background: #ffffff;
  margin: auto;
  width: 900px;
}

header .top {
  background: url(../images/image8.gif)no-repeat left center;
  margin-left: 20px;
  padding: 20px 120px;
}

nav {
  background: #000000;
  border-bottom: 5px solid #37a29B;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 20px 10px 0 20px;
}

nav li a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  padding: 10px 20px 0 20px;
  text-decoration: none;
}

nav a:hover {
  background: #37a29B;
  border-radius: 10px 10px 0 0;
}

main {
  width: 600px;
}

main > img {
  height: 350px;
  width: 900px;
  ;
}

.content1 {
  display: flex;
  flex-direction: row;
}

.content1 img {
  height: 190px;
}

.content-section {
  border: 1px #000000 solid;
  margin: 10px;
  padding: 10px;
}

.content-section:hover {
  background: #389bc2;
}
