@charset "utf-8";

body {
  background: #87cefa;
  font-family: メイリオ, Meiryo, "MS ゴシック", Osaka;
}

.container {
  background: #ffffff;
  margin: auto;
  width: 900px;
}

header .top {
  background: url(../images/yamamoto%20icon.jpg)no-repeat left center;
  margin-left: 20px;
  padding: 20px 120px;
}

.list1 {
  background: #dfdfdf;
  font-size: 16px;
  margin: 0;
  padding: 0 0 0 9px;
}

.list1 li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  width: 121px;
}

.list1 a {
  background: #dfdfdf;
  color: black;
  display: block;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.list1 a:hover {
  background: #000d75;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.list1 ul {
  display: none;
}

.list1 ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.list1 li:hover ul {
  display: block;
}

.foot{
    margin-top: 40px;
}

.site-footer {
  background: #333;
  padding: 80px 0;
}

.copyright {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

